[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_shape_ui
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Krita Shape UI
Comment=Shape drawing UI for Krita
